<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- SEO Meta Tags -->
    <meta name="description" content="Create a stylish landing page for your business startup and get leads for the offered services with this HTML landing page template.">
    <meta name="author" content="Inovatik">

    <!-- OG Meta Tags to improve the way the post looks when you share the page on LinkedIn, Facebook, Google+ -->
    <meta property="og:site_name" content="" /> <!-- website name -->
    <meta property="og:site" content="" /> <!-- website link -->
    <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
    <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
    <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
    <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
    <meta property="og:type" content="article" />

    <!-- Website Title -->
    <title>gg - StartUp HTML Landing Page Template</title>

    <!-- Styles -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&amp;subset=latin-ext" rel="stylesheet">

    <!-- Favicon  -->
    <link rel="icon" href="../assets/images/favicon.png">
  </head>

  <body data-spy="scroll" data-target=".fixed-top">

    <!-- Preloader -->
    <div class="spinner-wrapper">
      <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
    </div>
    <!-- end of preloader -->


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <!-- Text Logo - Use this if you don't have a graphic logo -->
      <!-- <a class="navbar-brand logo-text page-scroll" href="index.html">Evolo</a> -->


      <!-- Mobile Menu Toggle Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-awesome fas fa-bars"></span>
        <span class="navbar-toggler-awesome fas fa-times"></span>
      </button>
      <!-- end of mobile menu toggle button -->

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
        </ul>
      </div>
    </nav> <!-- end of navbar -->
    <!-- end of navigation -->


    <!-- Header -->
    <header id="header" class="header">
      <div class="header-content">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="text-container">
                <h1><span class="turquoise">Algoritmo 3DES</span> </h1>
                <p class="p-large">Universida Centroamericana</p>

              </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
              <div class="image-container">
                <img class="img-fluid" src="../assets/images/logo3DES.png" alt="alternative">
              </div>
              <!-- end of image-container -->
            </div>
          </div> <!-- end of row -->
        </div> <!-- end of container -->
      </div> <!-- end of header-content -->
    </header> <!-- end of header -->
    <!-- end of header -->

    <!-- Details 1 -->
    <div class="basic-1">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="text-container">
              <h2>Breve introdución de 3DES</h2>
              <p>Para poder hablar del 3DES, tenemos que recordar que el algoritmo DES (Data Encryption Standard) fue creado en 1976 requiere una clave de 64 bits, de los cuales utiliza únicamente 56 bits siendo los otros 8 un control de paridad.</p>
              <!-- modal -->
              <label class="btn-solid-reg popup-with-move-anim" for="devmodal__state"> Ver más</label>
              <input style="visibility: hidden; margin-left: 5px;" type="checkbox" name="devmodal__state" id="devmodal__state" class="devmodal__state">
              <div class="devmodal__overlay">
                <div class="devmodal">
                  <!--Boton de modal, poner icono del dashio-->
                  <label class="devmodal__close" for="devmodal__state">X</label>
                  <h4>Breve introducción</h4>
                  <div class="form-group">
                    <p>
                      Para mejorar la seguridad se creó Triple DES (TDES o 3DES) el algoritmo 3DES, desarrollado por Tuchman en 1978, es una manera de mejorar la robustez del algoritmo DES que consiste en aplicarlo tres veces consecutivas. Se puede aplicar con la misma clave cada vez, o con claves distintas y combinando el algoritmo de cifrado con el de descifrado, lo cual da lugar a DES-EEE3, DES-EDE3, DES-EEE2 y DES-EDE2. El resultado es un algoritmo seguro y que se utiliza en la actualidad, aunque resulta muy lento comparado con otros algoritmos más modernos que también son seguros.
                    </p>
                  </div>
                  <div class="modal-footer">
                    <label class="btn btn-danger" for="devmodal__state">Cerrar</label>
                  </div>
                </div>
              </div><!-- end of modal -->
            </div> <!-- end of text-container -->
          </div> <!-- end of col -->
          <div class="col-lg-6">
            <div class="image-container">
              <img class="img-fluid" src="../assets/images/header-teamwork.svg" alt="alternative">
            </div> <!-- end of image-container -->
          </div> <!-- end of col -->
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->

    <!-- end of details 1 -->


    <!-- Details 2 -->
    <div class="basic-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="image-container">
              <img class="img-fluid" src="../assets/images/details-2-office-team-work.svg" alt="alternative">
            </div> <!-- end of image-container -->
          </div> <!-- end of col -->
          <div class="col-lg-6">
            <div class="text-container">
              <h2>Contexto y problema, modelo</h2>
              <ul class="list-unstyled li-space-lg">
              <p>Este método está siendo paulatinamente sustituido por el AES, ya que este tiene una velocidad hasta seis veces más rápida, sin embargo, aún existen medios de pago electrónicos, tarjetas de crédito, etc. que utilizan el estándar 3DES, por lo que continúa estando muy vigente.</p>
              </ul>
              <!-- modal -->
              <label class="btn-solid-reg popup-with-move-anim" for="modalMore__state"> Ver más</label>
              <input style="visibility: hidden; margin-left: 5px;" type="checkbox" name="modalMore__state" id="modalMore__state" class="modalMore__state">
              <div class="modalMore__overlay">
                <div class="modalMore">
                  <!--Boton de modal, poner icono del dashio-->
                  <label class="modalMore__close" for="modalMore__state">X</label>
                  <h4>Breve introducción</h4>
                  <div class="form-group">


                    <img class="img-style" src="../assets/images/3DES.jpg" alt="alternative">


                    <p>El nacimiento de esto se debió a que en muchas ocasiones una clave de menos de cincuenta bits no era suficiente para el soporte continuo de una fuerza o potencia de grandes magnitudes, por lo que surgieron nuevas necesidades.
                      El funcionamiento de este sistema se desarrolla de la siguiente manera:
                    </p>
                    <li class="media">
                      <div class="media-body">Realiza principalmente un cifrado en tres pasos bajo lo que se conocen con DES, que sus siglas corresponden al Data Encryption Standard.</div>
                      <div class="media-body">Se trata de aplicar el cifrado en tres elementos diferentes, con claves completamente distintas para ubicar el sistema de manera permanente.</div>
                      <div class="media-body">La seguridad de repetir el proceso se debe a que uno de los objetivos bien claros es proporcionar un nivel de seguridad a grandes escalas y medidas.</div>
                    </li>
                    <li class="media">
                      <div class="media-body">Su velocidad es mucho más elevada en comparación con otros sistemas, siendo hasta cinco o seis veces más ágil en todos los sentidos del desarrollo</div>
                      <div class="media-body">Ha sido seleccionado para la amplitud de la seguridad sin la necesidad de la ejecución de cambios de contraseñas, para que no sean tan complicado todo lo relacionado a ello.</div>
                      <div class="media-body">Tiene una importante defensa en contra de ataques que puedan infringir en todo el desenvolvimiento del cifrado del algoritmo, ya que no existe modificación alguna durante todo el trance.</div>
                    </li>
                  </div>
                  <div class="modal-footer">
                    <label class="btn btn-danger" for="modalMore__state">Cerrar</label>
                  </div>
                </div>
              </div><!-- end of modal -->
            </div> <!-- end of text-container -->
          </div> <!-- end of col -->
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of details 2 -->

    <!-- ventajas y desventajas -->
    <div id="pricing" class="cards-2">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Las ventajas y desventajas </h2>
            <p class="p-heading p-large">Pricipalmente podemos decir que el algoritmo 3DES tiene:</p>
          </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">

            <!-- Card-->
            <div style="-webkit-box-shadow: -2px 10px 28px -6px rgba(173,173,173,1);-moz-box-shadow: -2px 10px 28px -6px rgba(173,173,173,1);box-shadow: -2px 10px 28px -6px rgba(173,173,173,1)" class="card">
              <div class="card-body">
                <div class="card-title">Ventajas</div>
                <hr class="cell-divide-hr">
                <div class="price">
                  <span class="currency"></span><span class="value">✔</span>

                </div>
                <hr class="cell-divide-hr">
                <ul class="list-unstyled li-space-lg">
                  <div class="card-subtitle">El algoritmo 3DES ,aplica una serie de operaciones básicas para convertir un texto en otro cifrado, empleando una clave criptográfica, hace triple cifrado, con tres claves distintas, por lo que resulta mucho más seguro. ocupandose normalemente en pago electrónico
                  </div>
                </ul>
                <!-- <div class="button-wrapper">
                  <a class="btn-solid-reg page-scroll" href="#request">REQUEST</a>
                </div>-->
              </div>
            </div> <!-- end of card -->
            <!-- end of card -->

            <!-- Card-->
            <div style="-webkit-box-shadow: -2px 10px 28px -6px rgba(173,173,173,1);-moz-box-shadow: -2px 10px 28px -6px rgba(173,173,173,1);box-shadow: -2px 10px 28px -6px rgba(173,173,173,1)"class="card">
              <div class="card-body">
                <div class="card-title">Desventajas</div>
                <hr class="cell-divide-hr">
                <div class="price">
                  <span class="currency"></span><span class="value">X</span>
                </div>
                <hr class="cell-divide-hr">
                <ul class="list-unstyled li-space-lg">
                  <div class="card-subtitle">Este método está siendo paulatinamente sustituido por el AES, ya que este tiene una velocidad hasta seis veces más rápida, sin embargo, aún existen medios de pago electrónicos, tarjetas de crédito, etc. que utilizan el estándar 3DES, por lo que continúa estando muy vigente.</div>
                </ul>
                <!--  <div class="button-wrapper">
                   <a class="btn-solid-reg page-scroll" href="#request">REQUEST</a>
                 </div>  -->
              </div>
            </div> <!-- end of card -->
            <!-- end of card -->



          </div> <!-- end of col -->
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </div> <!-- end of cards-2 -->
    <!-- end of pricing -->


    <!-- Ejemplo funciuonal -->
    <div id="request"  class="cards-2" style="background: -webkit-linear-gradient(45deg, rgba(52,195,247,1) 0%, rgba(39,217,230,1) 100%);">
      <div class="container">
        <div style="width: 100%" class="row">
          <div class="col-lg-12">
            <div class="text-container">
              <h3 style="color: white">Ejemplo funcional de 3DES</h3>
              <p style="color: white">En este ejemplo podremos introducir un texto comúm en el formulario para poder cifrarlo y descifrarlo en nuestra API desarrollada en node JS</p>

            </div> <!-- end of text-container -->
          </div> <!-- end of col -->

            <!-- Formulario de 3DS -->
          <div style="width: 100%" class="row">
            <div  class="col-lg-12">
              <div class="form-container">
              <form id="requestForm" data-toggle="validator" data-focus="false">

                        <!-- ---Start----- -->
                        <div   style="-webkit-box-shadow: -2px 10px 28px -6px rgba(173,173,173,1);-moz-box-shadow: -2px 10px 28px -6px rgba(173,173,173,1);box-shadow: -2px 10px 28px -6px rgba(173,173,173,1)" class="card">
                          <div  class="card-body">
                            <div class="form-group">
                              <p style="color: cadetblue"><STRONG>  Encriptado 3DES</STRONG></p>
                              <input [(ngModel)]="initialText" [ngModelOptions]="{standalone: true}" type="text" class="form-control-input" id="text" name="text" required placeholder="Texto">
                              <div class="help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                              <div class="form-group">
                                <button type="submit" class="form-control-submit-button" (click)="Encrypt()">Encriptar</button>
                              </div>

                              <p> Su texto encriptado:</p>
                              <input [(ngModel)]="encryptedText" [ngModelOptions]="{standalone: true}" type="text" disabled=disabled readonly="readonly" class="form-control-input" id="Txt_ecript" name="remail" required>
                              <div class="help-block with-errors"></div>
                            </div>
                          </div>
                        </div>
                        <!-- ----End---- -->
                        <!-- ---Start----- -->
                        <div  style="-webkit-box-shadow: -2px 10px 28px -6px rgba(173,173,173,1);-moz-box-shadow: -2px 10px 28px -6px rgba(173,173,173,1);box-shadow: -2px 10px 28px -6px rgba(173,173,173,1)" class="card">
                          <div class="card-body">
                            <div class="form-group">
                              <p style="color: cadetblue"><STRONG>  Desencriptado 3DES</STRONG></p>
                              <input [(ngModel)]="decryptedText" [ngModelOptions]="{standalone: true}" type="text" disabled=disabled readonly="readonly" class="form-control-input" id="decript" name="ecrip_txt"  placeholder="Texto desencriptado">
                              <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                              <button type="submit" class="form-control-submit-button" (click)="Decrypt()">Desencriptar</button>
                            </div>
                            <br><br><br><br><br>

                          </div>
                        </div>

                        <!-- ----End---- -->
                        <div class="form-message">
                          <div id="rmsgSubmit" class="h3 text-center hidden"></div>
                        </div>

              </form>
            </div>

        </div>
      </div>

          <!-- end of form-container -->
            <!-- end of request form -->

           <!-- end of col -->

        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of request -->




    <!-- About -->
    <div id="about" class="basic-4">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>El equipo</h2>
          </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
          <div class="col-lg-12">

            <!-- Team Member -->
            <div class="team-member">
              <div class="image-wrapper">
                <img class="img-fluid" src="../assets/images/team-member-2.svg" alt="alternative">
              </div> <!-- end of image-wrapper -->
              <p class="p-large"><strong>Henry Hernandez</strong></p>
              <p class="job-title">Estudiante. Ing. Sistemas de información</p>
             <!-- end of social-icons -->
            </div> <!-- end of team-member -->
            <!-- end of team member -->

            <!-- Team Member -->
            <div class="team-member">
              <div class="image-wrapper">
                <img class="img-fluid" src="../assets/images/team-member-2.svg" alt="alternative">
              </div> <!-- end of image wrapper -->
              <p class="p-large"><strong>Leonel Barberena</strong></p>
              <p class="job-title">Estudiante. Ing. Sistemas de información</p>

            </div> <!-- end of team-member -->
            <!-- end of team member -->

            <!-- Team Member -->
            <div class="team-member">
              <div class="image-wrapper">
                <img class="img-fluid" src="../assets/images/team-member-2.svg" alt="alternative">
              </div> <!-- end of image wrapper -->
              <p class="p-large"><strong>Joshtin Melendez</strong></p>
              <p class="job-title">Estudiante. Ing. Sistemas de información</p>

            </div> <!-- end of team-member -->
            <!-- end of team member -->

            <!-- Team Member -->
            <div class="team-member">
              <div class="image-wrapper">
                <img class="img-fluid" src="../assets/images/team-member-2.svg" alt="alternative">
              </div> <!-- end of image wrapper -->
              <p class="p-large"><strong>Erick Fariñas</strong></p>
              <p class="job-title">Estudiante. Ing. Sistemas de información</p>

            </div> <!-- end of team-member -->
            <!-- end of team member -->

          </div> <!-- end of col -->
        </div> <!-- end of row -->
      </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of about -->




    <!-- Copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <p class="p-small">Universidad Centroamericana © 2020 - All rights reserved</p>
          </div> <!-- end of col -->
        </div> <!-- enf of row -->
      </div> <!-- end of container -->
    </div> <!-- end of copyright -->
    <!-- end of copyright -->


  </body>

</html>
